#nav
{
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;
	grid-template-rows: 48px 1fr repeat(3, 48px) 1fr repeat(1, 48px);
	column-gap: 0px;
	row-gap: 16px;

	position: absolute;
	top: 8px;
	left: 8px;

	z-index: 3;

	padding: 8px 9px;

	height: calc(100% - 16px);
	width: 64px;

	align-items: center;
	
	color: #f8f6f0;
	background-color: #218e96;
	box-shadow: 0px 0px 4px 12px #218e9600;

	border-radius: 8px;

	grid-row: 1 2;
	grid-column: 1 2;

	transition-duration: 0.5s;

	opacity: 0.4;
}
#nav:hover
{
	background-color: #23b3be;
	box-shadow: 0px 0px 4px 4px #23b3beaa;
	opacity: 1.0;
}

#nav button
{
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #00000000;

	width: 46px;
	height: 46px;

	padding: 4px;

	border-radius: 8px;

	grid-column: 1 2;
}
#nav button:hover
{
	background-color: #00000022;
}

#nav button img
{
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}
